/* .section {
    align-items: center;
} */

.sub_title {
    color: #FFF;
    text-align: center;
    font-family: Pretendard;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    margin-top: 153px;
    margin-bottom: 121px;
}

#profile_3th,
#profile_4th {
    display: grid;
    grid-template-columns: repeat(3, 373px);
    gap: 120px 30px;

    max-width: 1179px;
    margin: 0 auto;
    /* justify-items: center; */
}

#profile_4th {
    margin-bottom: 208px;
}


.profile-card {
    position: relative;
    border: 1px solid #fff;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    height: 470px;
    overflow: hidden;

}

.prof_img {
    width: 100%;
    height: 100%;
    /* overflow: hidden;
    border-radius: 12px;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 0%, #000 76.97%), url(<path-to-image>) lightgray 50% / cover no-repeat; */
}

.prof_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prof_info {
    position: absolute;
    bottom: 0;
    left: 0;
    
    width: 100%;
    height: 160px;
    
    padding-left: 26px;
    padding-bottom: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* gap: 8px; */
    
    /* 160정도 점점 블러 */
    background: linear-gradient(to top,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 0.85) 60%,
            rgba(0, 0, 0, 0.65) 70%,
            rgba(0, 0, 0, 0.3) 80%,
            rgba(0, 0, 0, 0.15) 90%,
            rgba(0, 0, 0, 0) 100%);
}

.prof_major {
    color: #959595;
    font-size: 18px;
    margin: 0;
}

.prof_name {
    color: #FFF;
    font-size: 24px;
    margin: 0;
}