/* 활동 내역 */

/* 공통 스타일 */
.s_title,
.prj_name,
.prj_ex,
.p_name,
.p_award {
    color: #FFF;
    font-family: Pretendard;
    font-style: normal;
    margin: 0;
}

/* 프로젝트 수상 내역의 div 스타일 */
.frame {
    margin: 0 clamp(20px, 19.22vw, 369px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 프로젝트 묶음 div */
.p_div {
    margin-top: clamp(16px, 2.08vw, 40px);
    display: flex;
    flex-direction: column;
    gap: clamp(8px, 1.04vw, 20px);
    padding: clamp(20px, 3.125vw, 60px) clamp(12px, 2.08vw, 40px);
    align-items: center;
    align-self: stretch;
}

/* 여백을 위한 박스 */
.box1 {
    width: 100%;
    height: clamp(60px, 7.97vw, 153px);
}

.box2 {
    width: 100%;
    height: clamp(160px, 25.94vw, 546px);
}

/* 프로젝트, 수상 내역 타이틀 스타일 */
.s_title {
    text-align: center;
    font-size: clamp(24px, 3.33vw, 64px);
    font-weight: 500;
}

/* 프로젝트 이미지 */
.prj_img {
    margin-bottom: clamp(12px, 1.67vw, 32px);
    margin-top: clamp(40px, 6.25vw, 120px);
    width: 100%;
    max-width: 1180px;
    aspect-ratio: 1180 / 450;
    align-self: stretch;
    overflow: hidden;
}

/* prj_img 내부 img 태그 */
.prj_img img {
    width: 100% !important;
    height: 100%;
    object-fit: cover;
}

/* 프로젝트 이름 */
.prj_name {
    text-align: center;
    font-size: clamp(18px, 2.03vw, 39px);
    font-weight: 600;
    line-height: clamp(28px, 3.23vw, 62px);
}

/* 프로젝트 설명 */
.prj_ex {
    justify-self: center;
    text-align: center;
    font-size: clamp(12px, 1.04vw, 18px);
    font-weight: 500;
    line-height: clamp(18px, 1.67vw, 32px);
}

/* 사람 이름 텍스트 */
.p_name {
    text-align: center;
    font-size: clamp(12px, 1.25vw, 24px);
    font-weight: 600;
    margin-bottom: clamp(2px, 0.21vw, 4px);

}

/* 상장 텍스트 */
.p_award {
    align-self: stretch;
    text-align: center;
    font-size: clamp(12px, 1.04vw, 18px);
    font-weight: 500;
    line-height: clamp(14px, 1.25vw, 24px);
    row-gap: clamp(8px, 1.04vw, 20px);
}

@media (max-width: 393px) {

}