/* 활동 내역 */

/* 공통 스타일 */
.s_title,
.prj_name,
.prj_ex,
.p_name,
.p_award {
    color: #FFF;
    font-family: Pretendard;
    font-style: normal;
    margin: 0;
}

/* 프로젝트 수상 내역의 div 스타일 */
.frame {
    margin: 0 369px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 프로젝트 묶음 div */
.p_div {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 60px 40px;
    align-items: center;
    align-self: stretch;
}

/* 여백을 위한 정말 그냥 박스 */
.box1 { width: 100%; height: 153px; }
.box2 { width: 100%; height: 498px; }

/* 프로젝트, 수상 내역 타이틀 스타일 (추가) */
.s_title {
    text-align: center;
    font-size: 64px;
    font-weight: 500;
}

/* 프로젝트 이미지 */
.prj_img {
    margin-bottom: 32px;
    margin-top: 120px;
    width: 1180px;
    height: 450px;
    align-self: stretch;
}

/* 프로젝트 이름 */
.prj_name {
    text-align: center;
    font-size: var(--H2-size, 39px);
    font-weight: 600;
    line-height: var(--H2-line-height, 62px);
}

/* 프로젝트 설명 */
.prj_ex {
    justify-self: center;
    text-align: center;
    font-size: var(--H5-size, 20px);
    font-weight: 500;
    line-height: var(--H5-line-height, 32px);
}

/* 사람 이름 텍스트 */
.p_name {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 4px;
}

/* 상장 텍스트 */
.p_award {
    align-self: stretch;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    row-gap: 20px;
}