/* 엔드 카드 */

/* 엔드 카드 배경 및 형식 */
.end_div {
    display: flex;
    width: 100%;
    height: clamp(200px, 35.36vw, 679px);
    padding: clamp(36px, 5.21vw, 100px) clamp(120px, 19.27vw, 370px) clamp(26px, 3.85vw, 74px) clamp(120px, 19.22vw, 369px);
    justify-content: space-between;
    flex-shrink: 0;
    background-image: url("../img/background_end.png");
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

/* 엔드 카드 Topper 문구 */
.end_img {
    color: #FFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Anta;
    font-size: clamp(24px, 3.33vw, 64px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 clamp(10px, 1.25vw, 24px) 0;
    background-color: transparent;
}

/* Topper 문구 바로 아래 텍스트 */
.end_text_1 {
    color: #D7D7D7;
    text-align: left;
    font-family: Pretendard;
    font-size: clamp(12px, 1.25vw, 18px);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    background-color: transparent;
}

/* 바로가기들 묶음 div 스타일 */
.end_as {
    margin: clamp(16px, 2.19vw, 42px) 0;
    display: flex;
    flex-direction: column;
    gap: clamp(6px, 0.78vw, 15px);
}

/* 바로가기 텍스트 스타일 */
.end_a {
    align-self: stretch;
    color: #D7D7D7;
    text-align: left;
    font-family: Anta;
    font-size: clamp(12px, 1.25vw, 24px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-block;
    white-space: nowrap;
    width: auto;
    margin: 0;
    background-color: transparent;
}

/* 바로가기 아래 텍스트 */
.end_text_2 {
    margin: clamp(40px, 6.04vw, 116px) 0 0 0;
    color: #959595;
    font-family: Pretendard;
    font-size: clamp(10px, 1.09vw, 18px);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: transparent;
}

hr {
    margin: 0;
}

@media (max-width: 393px) {
    /* 엔드 카드 */

    /* 엔드 카드 배경 및 형식 */
    .end_div {
        width: 100%;
        height: 226px;
        padding: 32px 215px 24px 24px;
        align-items: center;
        background-image: url("../img/p_background_end.png");
        background-size: cover;
        background-position: center;
    }

    /* 엔드 카드 Topper 문구 */
    .end_img {
        color: #FFF;
        text-shadow: 0 1.2px 1.2px rgba(0, 0, 0, 0.25);
        font-family: Anta;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        background-color: transparent;
    }

    /* Topper 문구 바로 아래 텍스트 */
    .end_text_1 {
        color: #D7D7D7;
        font-family: Pretendard;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 0;
        background-color: transparent;
    }

    /* 바로가기들 묶음 div 스타일 */
    .end_as {
        margin: clamp(16px, 2.19vw, 42px) 0;
        display: flex;
        flex-direction: column;
        gap: clamp(6px, 0.78vw, 15px);
    }

    /* 바로가기 텍스트 스타일 */
    .end_a {
        color: #D7D7D7;
        text-align: left;
        font-family: Anta;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        background-color: transparent;
    }

    /* 바로가기 아래 텍스트 */
    .end_text_2 {
        margin: 20px 0 0 0;
        color: #959595;
        font-family: Pretendard;
        font-size: clamp(10px, 1.09vw, 18px);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        background-color: transparent;
    }

    hr {
        margin: 0;
    }
}