* {
    background-color: black;
}

a {
    color: #FFF;
    text-align: center;
    font-family: Anta;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 40px;
    text-decoration: none;
}

p {
    color: #FFF;
}

.nav_bar {
    width: 1180px;
    margin: 0 370px;
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.nav_topper {
    color: #FFF;
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Anta;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.apple_button {
    width: 54px;
    height: 24px;
    display: inline-flex;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    background: #1371FF;
}

.apple_button a {
    background: #1371FF;
}

.apple_text {
    color: #FFF;
    text-align: center;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.apple_button a {
    margin: 0 -40px;
}

.main {
    background-image: url("../img/background.png");
    width: auto;
    height: 381px;
    padding: 369px 0 330px 0;
    height: 381px;
}

.main_sub {
    background-image: url("../img/background_sub.png");
    width: auto;
    height: 381px;
    padding: 369px 0 330px 0;
    height: 381px;
}

.title {
    margin: 0;
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Anta;
    font-size: 128px;
    font-style: normal;
    line-height: normal;
    background-color: transparent;
}

.title_sub {
    width: 296px;
    color: #FFF;
    text-align: center;
    font-family: Pretendard;
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    justify-self: center;
    margin: 0;
}

.title_text {
    margin: 14px 0 0 0;
    color: #D7D7D7;
    text-align: center;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.title_buttons {
    margin-top: 65px;
    display: flex;
    justify-self: center;
    gap: 29px;
}

.title_button {
    display: flex;
    width: 200px;
    height: 72px;
    /* padding: 16px 50px; */
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: #1179E8;
}

.title_button a {
    margin: 0;
    color: #FFF;
    text-align: center;
    font-family: Pretendard;
    font-size: 25px;
    font-style: normal;
    line-height: var(--H4-line-height, 40px);
    background: #1371FF;
}